@font-face {
  font-family: Display;
  src: url(./Fonts/LiquidCrystal-Normal.otf);
}

.Application{ 
  background: whitesmoke; 
  text-align: left;
}

.ShowContainer{
  background: darkgray;  
}

.ShowGrid{
  background: lightgray;
  height:100%;
}
.ShowCell{
  background: lightgray;    
  margin:0px;
}

.ShowCellY{
  background: lightgray;
}

.smallBorder{
  border: 1px solid white; 
}
.grid-margin-x{
  margin:0px 5px;
}
.CardStyle{
height:95%;
background: lightgray;
border: 2px solid white;  
border-radius:25px;
margin: 10px
}

.card-divider{
  text-shadow:2px 3px  whitesmoke;
  color:black;
  text-align: center;
  font-size:1.75rem;
  font-family: 'Stardos Stencil', cursive;
  padding: 10px 16px 0px 16px;
}

p, .text{
  font-family:'Passion One','cursivexs' ;
  color:CornflowerBlue ;
  fill:CornflowerBlue ;
  text-align: center;
  vertical-align:middle;
  font-size: 2em;
  font-weight: normal;
  margin: 5px 0px;
}
.LedText{
  font-family:'Passion One','cursivexs' ;
  color:CornflowerBlue ;
  fill:CornflowerBlue ;
  text-align: center;
  font-size: 1.75rem;
  font-weight: normal;
  margin: 0;
}

.display {
  font-family: Display;
  fill:green;
  font-size: 1.25rem;
  text-shadow: 0 0;
  text-align:'center';
}

.displayError {
  font-family: Display;
  fill:red;
  font-size: 1.25rem;
  text-shadow: 0 0;
  text-align:'center';
}